.card {
    margin-top: 25px !important;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.thead-dark th {
    background-color: rgb(48, 134, 134);
    color: black;
}

.card-header {
    background-color: rgb(48, 134, 134);
    color: black;
    padding: 15px;
    font-weight: bold;
}

.table-hover tbody tr:hover {
    background-color: #f9f9f9;
}

.search-bar {
    max-width: 400px;
    width: 100%;
}

#search-button {
    padding: 5px 10px;
    color: rgb(48, 134, 134)f;
    background-color: white;
    border: 1px solid rgb(48, 134, 134);
    border-radius: 0.25rem;
}

#search-button:hover {
    color: white;
    background-color: rgb(73, 97, 97);
}

.pagination {
    margin-top: 20px;
}

.pagination .page-item .page-link {
    color: black;
    border: 1px solid #dee2e6;
}

.pagination .page-item.active .page-link {
    background-color: rgb(48, 134, 134);
    border-color: rgb(48, 134, 134);
    color: white;
}

.pagination .page-item.disabled .page-link {
    background-color: #f1f1f1;
    color: #ccc;
}

@media (max-width: 768px) {
    .card {
        margin-top: 20px !important;
    }

    .table-responsive-md {
        font-size: 14px;
    }

    .card-header {
        flex-direction: column;
        align-items: start;
    }

    .search-bar {
        margin-top: 10px;
        width: 100%;
    }

    .pagination {
        margin-top: 15px;
    }
}

