.card {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-header {
    background-color: rgb(48, 134, 134);
    color: black;
    border-radius: 10px 10px 0 0;
}

.form-control {
    border-radius: 5px;
    height: 40px;
}

.btn-primary {
    background-color: rgb(48, 134, 134);
    border-color:rgb(48, 134, 134);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: rgb(52, 86, 86);
    border-color: rgb(52, 86, 86);
}

.alert {
    max-width: 500px;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .card {
        margin: 20px;
    }

    .btn-primary {
        width: 100%;
        padding: 12px;
    }
}